* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.header {
  width: 100%;
  height: 70px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.list {
  width: 405px;
}

ul.nav {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 22px;
}

ul.nav li {
  list-style: none;
}

.name {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-left: 20px;
  margin-top: 22px;
}

.gazou {
  position: relative;
  width: 1150px;
  margin: 75px auto 0;
}
.gazou .kousui {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.gazou .kousui .abc {
  width: 150px;
  text-align: center;
}
.gazou .kousui .edf {
  width: 200px;
  text-align: center;
}
.gazou .kousui h2 {
  color: white;
}

.kousui_comment {
  color: black;
}

.concept {
  font-weight: bold;
  margin-top: 105px;
  font-size: 30px;
  text-align: center;
  color: rgb(55, 59, 58);
}

.profile {
  margin-top: 50px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-weight: bolder;
  text-decoration:underline;
  color: rgb(55, 59, 58);
}

.icon_comment {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 75%;
}

.icon {
  width: 400px;
}

.icon img {
  width: 300px;
}

.icon_text_werp {
  display: flex;
  flex-direction: column;
  width: 500px;
  
}

.icon_text {
  margin-top: 25px;
  text-align: center;
  margin-left: 0;
  vertical-align:top;
  line-height: 2;
}

.profile_text {
  font-size: 25px;
}

.profile_message {
  margin: 30px;
  text-decoration:underline;
  text-align: left;
  text-decoration: #333 underline;
  line-height: 2;
}