* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.header {
  width: 100%;
  height: 70px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.list {
  width: 405px;
}

ul.nav {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 22px;
}

ul.nav li {
  list-style: none;
}

.name {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-left: 20px;
  margin-top: 22px;
}

.gazou {
  position: relative;
  width: 1150px;
  margin: 75px auto 0;
}
.gazou .kousui {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.gazou .kousui .abc {
  width: 150px;
  text-align: center;
}
.gazou .kousui .edf {
  width: 200px;
  text-align: center;
}
.gazou .kousui h2 {
  color: white;
}

.kousui_comment {
  color: black;
}

.concept {
  font-weight: bold;
  margin-top: 105px;
  font-size: 30px;
  text-align: center;
  color: rgb(55, 59, 58);
}

.profile {
  margin-top: 50px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-weight: bolder;
  text-decoration:underline;
  color: rgb(55, 59, 58);
}

.icon_comment {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 75%;
}

.icon {
  width: 400px;
}

.icon img {
  width: 300px;
}

.icon_text_werp {
  display: flex;
  flex-direction: column;
  width: 500px;
  
}

.icon_text {
  margin-top: 25px;
  text-align: center;
  margin-left: 0;
  vertical-align:top;
  line-height: 2;
}

.profile_text {
  font-size: 25px;
}

.profile_message {
  margin: 30px;
  text-decoration:underline;
  text-align: left;
  text-decoration: #333 underline;
  line-height: 2;
}

.service {
  margin-top: 68px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-weight: bolder;
  text-decoration:underline;
  color: rgb(55, 59, 58);
}

.service_list {
  display: flex;
  justify-content: space-between;
  width: 1080px;
  margin: 0 auto;
}

.service_werp {
  width: 30%;
  margin-top: 35px;
}

.service_menu {
  text-align: center;
}

.service_menu p {
  font-size: 20px;
  font-weight: bold;
}

.service_img {
  width: 75px;
  margin: 30px auto;
}

.service_comment {
  margin-bottom: 30px;
}

.service_comment p {
  font-size: 14px;
  line-height: 2;
}

.work {
  margin-top: 68px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-weight: bolder;
  text-decoration:underline;
  color: rgb(55, 59, 58);
  margin-top: 57px;
  margin-bottom: 45px;
}

.work_list {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 0 auto;
}

.work_werp {
  width: 30%;
}

.work_menu {
  text-align: center;
  margin-bottom: 10px;
}

.work_menu p {
  font-size: 18px;
  font-weight: bold;
}

.work_img {
  width: 200px;
  margin: 0 auto;
}

.work_comment {
  margin-top: 10px;
  text-align: center;
  line-height: 2;
}

.work_comment p {
  font-size: 15px;
}

.contact {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-weight: bolder;
  text-decoration:underline;
  color: rgb(55, 59, 58);
  margin-top: 100px;
  margin-bottom: 35px;
}

.contact_wrap {
  text-align: center;
  margin-bottom: 37px;
}

label {
  font-size: 25px;
}

.txt {
  width: 780px;
  line-height: 40px;
  font-size: 25px;
  padding: 5px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 0.2em;
} 


textarea {
  width: 780px;
  height: 150px;
  font-size: 25px;
  padding: 5px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 0.2em;
}